@page "/driversandorders"
@layout MainLayout
@inherits FirmaCurierat.Pages.DriversandOrdersComponent

@using Radzen
@using Radzen.Blazor
@using Syncfusion.Blazor.Grids
@using Radzen.Blazor
@inject TooltipService tooltipService
@using Syncfusion.Blazor.Cards

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications

<RadzenContent Container="main">
    <ChildContent>

        <RadzenHeading Size="H1" Text="Drivers and orders" Style="margin-top:60px;">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
             
                <hr />
                <br />

                <Syncfusion.Blazor.Cards.SfCard>



                    <SfGrid DataSource="@interest" ShowColumnChooser="true" AllowSorting="true" AllowResizing="true" AllowPaging="true"
                            AllowSelection="true">

                        <GridEvents TValue="interestList"></GridEvents>
                        <GridPageSettings PageCount="6" PageSize="5"></GridPageSettings>

                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>

                        <GridColumns>
                            <GridColumn Field=@nameof(interestList.nume) AutoFit="true" HeaderText="Name" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(interestList.prenume) AutoFit="true" HeaderText="Surname" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="120"></GridColumn>

                            <GridColumn Field=@nameof(interestList.awb) AutoFit="true" HeaderText="Awb" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="120"></GridColumn>
                          </GridColumns>
                    </SfGrid>
                </Syncfusion.Blazor.Cards.SfCard>

            </div>
        </div>
    </ChildContent>
</RadzenContent>
@code
{
    public string activationLabel = "";
    MatTheme tema = new MatTheme()
    {
        Primary = "#d50000",
        Secondary = "#212121"
    };
    private Dictionary<string, object> Atr1 = new Dictionary<string, object>()
{
        {"title","Update Client Information" }

    };
    private Dictionary<string, object> Atr2 = new Dictionary<string, object>()
{
        {"title","Update Order Information" }

    };
    ElementReference htmlButton;
    RadzenButton radzenButton;

    void ShowTooltip(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, "Update Order", options);
}


